<% if (page.total > 1){ %>
<nav id="page-nav">
    <div class="inner">
    <%- paginator({
        prev_text: theme.paginator_prev,
        next_text: theme.paginator_next
    }) %>
    </div>
</nav>
<% } %>
